.President img
{
	border-radius: 22%;
	width: 100px;
	height:90px;
	margin: 10px;
	padding-left: 20px;
}
.step
{
	display: flex;
	flex-direction: column;
	background-color: hsl(180, 100%, 85%);
	width: 200px;
	height: 900px;
	float: left;
}
.step li
{
	padding: 5px;
	font-size: 20px;
	.step2
	{
		width: 84%;
		float: right;
		height: 100%;
	}
}
.step3
{
	display: flex;
	flex-direction: row;
}
.step3 img
{
	border-radius: 60%;
	width: 190px;
	height:180px;
	margin: 20px;
	padding: 10px;
}
.step2 p,li
{
	font-size: 25px;
	.step3
	{
		float: right;
	}
}
h1{
	text-align: left;
	text-shadow: 10px;
	font-family: Candara;
	background-color: hsl(200, 100%, 45%);
}